### 1. Setup the database

In [1]:
#*********************************************************************#
# "LittleLemonDB" MySQL database instance in localhost is required for 
# for MySQL/Python connection.
# 
# The "user_info.py" file includes username and password for the 
# localhost database login. It is require to be in the same directory 
# as this Jupyer Notebook.
#*********************************************************************#

from user_info import *
import mysql.connector as connector

# Establish connection to MySQL localhost database
connection=connector.connect(user=username,password=password)

# Create cursor object to communicate with entire MySQL database
cursor = connection.cursor()
print("Cursor is created to communicate with the MySQL using Python.")

# Set little_lemon database for use 
cursor.execute("USE LittleLemonDB")
print("The database 'LittleLemonDB' is set for use.")

Cursor is created to communicate with the MySQL using Python.
The database 'LittleLemonDB' is set for use.

In [2]:
# Tables included in the LittleLemonDB database:
print("'LittleLemonDB' Tables:")
cursor.execute('show tables')
results = cursor.fetchall()
for result in results:
    print(result)

'LittleLemonDB' Tables:
('bookings',)
('customers',)
('menu',)
('menuitems',)
('orders',)
('ordersview',)
('staff',)

In [3]:
# check the connection to database
connection.is_connected()

True

#### - Populate `MenuItems` table in the database with data:

In [4]:
#*******************************************************#
# Insert query to populate "MenuItems" table: 
#*******************************************************#
cursor.execute('DELETE FROM MenuItems')
insert_menuitems="""
INSERT INTO MenuItems (MenuItemID, Name, Type, Price)
VALUES
(1,'Olives','Starters',5),
(2,'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10,'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Kabasa', 'Main Courses', 17);"""

print("Inserting data in MenuItems table.")
# Populate MenuItems table
cursor.execute(insert_menuitems)
print("Total number of rows in MenuItem table: {}\n".format(cursor.rowcount))
# Once the query is executed,  commit the change to the database 
connection.commit()

Inserting data in MenuItems table.
Total number of rows in MenuItem table: 16

#### - Populate `Menu` table in the database with data:

In [5]:
#*******************************************************#
# Insert query to populate "Menu" table: 
#*******************************************************#
cursor.execute('DELETE FROM Menu')
insert_menus="""
INSERT INTO Menu (MenuID, Cusine, Starter, Course, Drinks, Desert)
VALUES
(1, 'Greek', 1, 7, 13, 10),
(2, 'Greek', 6, 7, 13, 11),
(3, 'Greek', 5, 7, 13, 12),
(4, 'Greek', 3, 7, 13, 10),
(5, 'Italian', 2, 9, 14, 10),
(6, 'Italian', 1, 9, 14, 11),
(7, 'Italian', 3, 9, 14, 12),
(8, 'Italian', 3, 9, 14, 10),
(9, 'Turkish', 1, 8, 15, 10),
(10, 'Turkish', 2, 8, 15, 11),
(11, 'Turkish', 4, 16, 15, 12),
(12, 'Turkish', 5, 16, 15, 10);"""

print("Inserting data in Menus table.")
# Populate Menus table
cursor.execute(insert_menus)
print("Total number of rows in Menu table: {}\n".format(cursor.rowcount))
connection.commit()

Inserting data in Menus table.
Total number of rows in Menu table: 12

#### - Populate the `Bookings` table in the database with data:

In [6]:
#*******************************************************#
# Insert query to populate "Bookings" table: 
#*******************************************************#
cursor.execute('DELETE FROM Bookings')
insert_bookings="""
INSERT INTO Bookings (BookingID, Date, TableNumber, CustomerID, StaffID)
VALUES
(1, '2023-12-01',12, 1, 1),
(2, '2023-06-08', 12, 2, 1),
(3, '2023-07-01', 19, 3, 3),
(4, '2023-08-02', 15, 1, 4),
(5, '2023-05-03', 5,  4, 2),
(6, '2023-04-09', 8,  5, 5);"""

print("Inserting data in Bookings table.")
# Populate Bookings table
cursor.execute(insert_bookings)
print("Total number of rows in Bookings table: {}\n".format(cursor.rowcount))
connection.commit()

Inserting data in Bookings table.
Total number of rows in Bookings table: 6

#### - Populate the `Customers` table in the database with data:

In [7]:
#*******************************************************#
# Insert query to populate "Customers" table: 
#*******************************************************#
cursor.execute('DELETE FROM Customers')
insert_customers="""
INSERT INTO Customers (CustomerID, Name, ContactDetail)
VALUES
(1, 'Iversen','453-234-5678'),
(2, 'Joakim', '212-323-7654'),
(3, 'Vanessa', '212-453-9967'),
(4, 'Marcos', '450-223-1756'),
(5, 'Hiroki', '235-347-1234'),
(6, 'Diana', '212-457-8967');"""

print("Inserting data into Customers table.")
# Populate Bookings table
cursor.execute(insert_customers)
print("Total number of rows in Customers table: {}\n".format(cursor.rowcount))
connection.commit()

Inserting data into Customers table.
Total number of rows in Customers table: 6

#### - Populate the `Orders` table with data

In [8]:
#*******************************************************#
# Insert query to populate "Orders" table is:
#*******************************************************#
cursor.execute('DELETE FROM Orders')
insert_orders="""
INSERT INTO Orders (OrderID, Date, Quantity, DeliveryStatus, TotalCost, MenuID, BookingID)
VALUES
(1, '2023-12-09', 3, 'Delivered', 126, 2,4),
(2, '2023-12-09', 1, 'Delivered', 37, 3,1),
(3, '2023-12-09', 5, 'Delivered', 317, 9, 2),
(4, '2023-12-09', 3, 'Pending', 175, 5, 3),
(5, '2023-12-09', 1, 'Sent',43, 10,5);"""

print("Inserting data in Orders table.")
# Populate Orders table
cursor.execute(insert_orders)
print("Total number of rows in Orders table: {}\n".format(cursor.rowcount))
connection.commit()

Inserting data in Orders table.
Total number of rows in Orders table: 5

#### - Populate the `Staff` table in the database with data:

In [9]:
#*******************************************************#
# Insert query to populate "Staff" table: 
#*******************************************************#
cursor.execute('DELETE FROM Staff')
insert_staff="""
INSERT INTO Staff (StaffID, Name, Role, Salary)
VALUES
(1,'Mario Gollini','Manager', 70000),
(2,'Adrian Gollini','Assistant Manager',65000),
(3,'Giorgos Dioudis','Head Chef', 50000),
(4,'Fatma Kaya','Assistant Chef',45000),
(5,'Elena Salvai','Head Waiter',40000),
(6,'John Millar','Receptionist',35000);"""

print("Inserting data in the Staff table.")
# Populate Employees table
cursor.execute(insert_staff)
print("Total number of rows in the Staff table: ", cursor.rowcount)
# Once the query is executed, you can commit the change to the database 
connection.commit()

Inserting data in the Staff table.
Total number of rows in the Staff table:  6

### Week 2. Exercise: Create a virtual table to summarize data
#### Task 1. Create a VIEW named `OrdersView` using `Orders` table:

In [10]:
#*******************************************************#
# Implement "OrdersView" virtual table (i.e. view): 
#*******************************************************#
cursor.execute("DROP VIEW IF EXISTS OrdersView")
view_query="""
CREATE VIEW OrdersView as
SELECT OrderID, Quantity, TotalCost as Cost
FROM Orders
WHERE Quantity > 2;
"""
cursor.execute(view_query)
print("The view 'OrdersView' output:")
cursor.execute("SELECT * FROM OrdersView")
results = cursor.fetchall()
print(list(cursor.column_names))
for result in results:
    print(result)

The view 'OrdersView' output:
['OrderID', 'Quantity', 'Cost']
(1, 3, Decimal('126.00'))
(3, 5, Decimal('317.00'))
(4, 3, Decimal('175.00'))

#### Task 2. Use `JOIN` clause to display results from `Customers`, `Orders`, `Menu` and `MenuItems` tables:

In [11]:
#*******************************************************#
# Select query to display customers spent more than $150.00: 
#*******************************************************#
join_query="""
SELECT 
    Customers.CustomerID, 
    Customers.Name as CustomerName, 
    Orders.OrderID, 
    Orders.TotalCost as Cost, 
    Cusine, 
    MenuItems.Name as CourseName
FROM Orders
JOIN Bookings
    ON Orders.BookingID = Bookings.BookingID
JOIN Customers
    ON Bookings.CustomerID = Customers.CustomerID
JOIN Menu 
    ON Menu.MenuID = Orders.MenuID
JOIN MenuItems
    ON Menu.Course = MenuITems.MenuItemID
WHERE Orders.TotalCost > 150
"""
cursor.execute(join_query)
results = cursor.fetchall()
print(list(cursor.column_names))
for result in results:
    print(result)

['CustomerID', 'CustomerName', 'OrderID', 'Cost', 'Cusine', 'CourseName']
(2, 'Joakim', 3, Decimal('317.00'), 'Turkish', 'Bean soup')
(3, 'Vanessa', 4, Decimal('175.00'), 'Italian', 'Pizza')

#### Task 3. Find menu items with for which more than 2 orders have been placed using subquery and `ANY` operator:

In [12]:
#******************************************************************#
# Select query to display Menu items order quantity greater than 2: 
#******************************************************************#
sub_query="""
SELECT MenuItems.Name as CourseName
FROM MenuItems
JOIN Menu 
    ON Menu.Course = MenuItems.MenuItemID
WHERE Menu.MenuID = ANY (SELECT MenuID FROM Orders WHERE Quantity > 2)
"""
cursor.execute(sub_query)
results = cursor.fetchall()
print(list(cursor.column_names))
for result in results:
    print(result)

['CourseName']
('Greek salad',)
('Bean soup',)
('Pizza',)

### Week 2 Exercise: Create optimized queries to manage and analyze data
#### Task 1. Implement `GetMaxQuantity()` procedure:

In [13]:
#*******************************************************#
# "GetMaxQuantity" stored procedure
#*******************************************************#
cursor.execute("DROP PROCEDURE IF EXISTS GetMaxQuantity")
proc_query = """
CREATE PROCEDURE GetMaxQuantity()
SELECT MAX(Quantity) as MaxQuantity FROM Orders
"""
cursor.execute(proc_query)
cursor.callproc("GetMaxQuantity")

dataset = next(cursor.stored_results() )
results = dataset.fetchall()
print(list(dataset.column_names))
for result in results:
    print(result)

['MaxQuantity']
(5,)

#### Task 2. Implement `GetOrderDetail` prepared statment:

In [14]:
#*******************************************************#
# "GetOrderDetail" prepared statement
#*******************************************************#
prep_query="""
prepare GetOrderDetail FROM 'SELECT OrderID, Quantity, 
TotalCost as Cost 
    FROM Orders 
    JOIN Bookings
on Orders.BookingID = Bookings.BookingID
WHERE Bookings.CustomerID = ?'
"""
cursor.execute(prep_query)
cursor.execute("SET @cust_id = 2")
cursor.execute("Execute GetOrderDetail using @cust_id")
results = cursor.fetchall()
print(list(cursor.column_names))
for result in results:
    print(result)

['OrderID', 'Quantity', 'Cost']
(3, 5, Decimal('317.00'))

#### Task 3. Implement `CancelOrder()` stored procedure:

In [15]:
#*******************************************************#
# "CancelOrder" stored procedure: 
#*******************************************************#
cursor.execute("DROP PROCEDURE IF EXISTS CancelOrder")
proc_query = """
CREATE PROCEDURE CancelOrder(in order_id int)
DELETE FROM Orders where OrderID = order_id;
"""
cursor.execute(proc_query)
cursor.callproc("CancelOrder",(1,))
#cursor.commit()
print("\nAfter calling 'CancelOrder' procedure:")
cursor.execute("SELECT * FROM Orders")
results = cursor.fetchall()
print(list(cursor.column_names))
for result in results:
    print(result)

After calling 'CancelOrder' procedure:
['OrderID', 'Date', 'Quantity', 'DeliveryStatus', 'TotalCost', 'MenuID', 'BookingID']
(2, datetime.date(2023, 12, 9), 1, 'Delivered', Decimal('37.00'), 3, 1)
(3, datetime.date(2023, 12, 9), 5, 'Delivered', Decimal('317.00'), 9, 2)
(4, datetime.date(2023, 12, 9), 3, 'Pending', Decimal('175.00'), 5, 3)
(5, datetime.date(2023, 12, 9), 1, 'Sent', Decimal('43.00'), 10, 5)

### Week 2 Exercise: Create SQL queries to check available bookings based on user input
#### Task 1. Populate the `Bookings` table:

In [16]:
#*******************************************************#
# Insert query to populate "Bookings" table: 
#*******************************************************#
cursor.execute('DELETE FROM Bookings')
insert_bookings="""
INSERT INTO Bookings (BookingID, Date, TableNumber, CustomerID, StaffID)
VALUES
(1, '2022-10-10', 5, 1, 1),
(2, '2022-11-12', 3, 3, 1),
(3, '2022-10-11', 2, 2, 3),
(4, '2022-10-13', 2, 1, 4);"""

print("Inserting data in Bookings table.")
# Populate Bookings table
cursor.execute(insert_bookings)
print("Total number of rows in Bookings table: {}\n".format(cursor.rowcount))
connection.commit()
cursor.execute("SELECT BookingID, Date, TableNumber, CustomerID FROM Bookings")
print("\nBookings Table:")
results = cursor.fetchall()
print(list(cursor.column_names))
for result in results:
    print(result[0],'\t\t',result[1],'\t',result[2],'\t',result[3])

Inserting data in Bookings table.
Total number of rows in Bookings table: 4


Bookings Table:
['BookingID', 'Date', 'TableNumber', 'CustomerID']
1 		 2022-10-10 	 5 	 1
2 		 2022-11-12 	 3 	 3
3 		 2022-10-11 	 2 	 2
4 		 2022-10-13 	 2 	 1

#### Task 2. Implement and test `CheckBooking()` stored procedure:

In [17]:
#*******************************************************#
# "CheckBooking" stored procedure: 
#*******************************************************#
cursor.execute("DROP PROCEDURE IF EXISTS CheckBooking")
proc_query = """
CREATE PROCEDURE CheckBooking(in booking_date date, in table_number int)
BEGIN
    DECLARE booked INT DEFAULT 0;
    SELECT Count(TableNumber) INTO booked
    FROM Bookings WHERE Date = booking_date AND TableNumber = table_number;
    IF booked > 0 THEN
        SELECT Concat("Table ", table_number, " is already booked.") as BookingStatus;
    ELSE
        SELECT Concat("Table ", table_number, "is available for booking.") as BookingStatus;
    END IF;
END;
"""
cursor.execute(proc_query)
cursor.callproc("CheckBooking",('2022-11-12',3))

dataset = next(cursor.stored_results())
results = dataset.fetchall()
print(list(dataset.column_names))
for result in results:
    print(result)

['BookingStatus']
('Table 3 is already booked.',)

#### Task 3. Implement `AddValidBooking()` procedure:

In [18]:
#*******************************************************#
# "AddValidBooking" stored procedure: 
#*******************************************************#
cursor.execute("DROP PROCEDURE IF EXISTS AddValidBooking")
proc_query = """
CREATE PROCEDURE AddValidBooking(in booking_date date, in table_number int)
BEGIN
    DECLARE booked INT DEFAULT 0;
    SELECT Count(TableNumber) INTO booked
    FROM Bookings WHERE Date = booking_date AND TableNumber = table_number;
    IF booked > 0 THEN
        SELECT Concat("Table ", table_number, " is already booked - booking cancelled.") as BookingStatus;
    ELSE
        SELECT Concat("Table ", table_number, " is available for booking.") as BookingStatus;
    END IF;
END;
"""
cursor.execute(proc_query)
cursor.callproc("AddValidBooking",('2022-11-12',3))

dataset = next(cursor.stored_results())
results = dataset.fetchall()
print(list(dataset.column_names))
for result in results:
    print(result)

['BookingStatus']
('Table 3 is already booked - booking cancelled.',)